@import "tailwindcss";

:root {
  --background: #FAF9F5;
  --foreground: #001A0E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
